*{
    margin: 0;
    padding: 0;
    font-family: 'Nosifer', sans-serif;
    box-sizing: border-box;
}

h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/halloween-background-with-scary-pumpkins-candles-graveyard-night-with-castle-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: fixed;
}

.container #hallo-img{
    position: flex;
    right: 100px;
}

.content{
    top: 75%;
    left: 20%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    font-size: 30px;
    
}

.content h1 {
    font-size: 60px;
    font-weight: 600;
}

.content h1 span{
    color: black;
}

.content button img {
    width: 30px;
    margin-left: 10px;
}

.launch-time{
    display: flex;
   
}

.launch-time div{
    flex-basis: 300px;
    color: rgb(0, 0, 0);
    text-align: center;
   
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: 14px;
    color: rgb(255, 20, 16);
    text-align: center;

}
.demon{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: demon 4s linear infinite;
}
@keyframes demon {
    0%{
        bottom: 0;
        opacity: 0;
    }
     100%{
        bottom: 105%;
        opacity: 1;
    }
}
.audio{
    opacity: 0%;
    position: absolute;
    left: 0%;
    bottom: 0;
    
}
.content p span{
    color: rgb(0, 0, 0);
    
}
.content p{
    color: rgb(240, 6, 6);
    
}

.container .sidebar img{
    width: 30px;

}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    position: absolute;
    height: 100%;
    overflow: auto;
    left: 0;
    background-image: url(./images/wp10010695.jpg);
    background-position: center;
    background-size: cover;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: rgb(2, 1, 1);
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #f00a0a;
    color: rgb(255, 111, 9);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #0a0000;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1500px;
}

div.alien-container{
    width: 60vw;
    position: fixed;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* Form for contacts.html*/

form {
    border: 3px solid #000000;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    top: 300px;
}

.input-group {
    display: flex;
    margin-bottom: 10px;
}

label {
    width: 200px;
    color: #f70808;
}

input,
select,
textarea {
    flex: 1;
    padding: 3px 5px;
    color: #e20808;
}

.submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 200px;
    margin: 0 auto;
    background-color: black;
    color: rgb(247, 15, 15);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.alien-container{
    border: solid 3px red;
    border-radius: 10px;
    width: 800px;
    height: 450px;
    
    
    
}

.alien-container img{
    width: 300px;
    padding-top: 10px;
    position: flex;
    flex-direction: row-reverse;
    
}
.alien-container div{
    text-align: center;
    margin-top: 100px;
    color: aqua;
}
.alien-container a{
    position: absolute;
    right: 300px;
}

@media screen and (max-width:1200px){
    .container{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .content{
        font-size: 20px;
        
    }
   .content h1{
    font-size: 30px;
    width: 50px;
    
   }
 

   .launch-time{
    flex-direction: column;
   }
    .alien-container{
        display: none;
    }
}